.App {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, blue, red);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.3rem;
  overflow-y: visible;
  overflow-x: hidden;
  user-select: none;

}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2rem;
  color: white
}

.subtitle {
  margin: 0;
  margin-bottom: 10px;
  color: white
}
